<h1>Name: <%= @product.name  %></h1>
<h1>Description: <%= @product.description %> </h1>
<h1>Price: <%= @product.pricing %> </h1>
<h1>Category: <%= @product.cat %></h1>

<a href = '/products/<%= @product.id %>/edit'>Edit</a>
<a href="/products">Back</a>
